<!-- <div style="margin-left: 10%; margin-top: 10%;">
    <div class="row" *ngIf="isViewingList">
        <div class="col" *ngFor="let event of events">
            <app-event-details [event]="event" (id)="sendId($event)"></app-event-details>
        </div>
    </div>
    <div *ngIf="!isViewingList">
        <h2 class="pb-3" style="text-align: center;">{{event.name}}</h2>
        <app-participants-list [participants]="event.participants" (backButton)="returnToListView()" (addParticipant)="addNewParticipant($event)"></app-participants-list>
    </div>
</div> -->


<!-- <div *ngIf="isViewingList">
    <button class="btn btn-danger" style="float: right ">Logout</button>
    <div class="row">
        <div class="col">
            <h2 class="pb-3">List of PN Events</h2>
        </div>
    </div>
    <div class="col">
        <app-add-event (event)="addEvent($event)">

        </app-add-event>
    </div>

    <div *ngFor="let event of events">
        <div class="jumbotron col-sm-12 events-list">
            <div class="col-sm-8">
                <h2>
                    {{ event.name}}
                </h2>
            </div>
            <div class="col-sm-4">
                <button class="btn btn-primary" style="float:right" (click)="ViewEvent(event)">View Event Details</button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="!isViewingList">
    <h2 class="pb-3" style="text-align: center;">{{event.name}}</h2>
    <app-participants-list [participants]="event.participants" (backButton)="returnToListView()" (addParticipant)="addNewParticipant($event)"></app-participants-list>
</div>  -->

<!-- <mat-selection-list #shoes [multiple]="false">
    <div class="jumbotron col-sm-12 events-list">
        <mat-list-option *ngFor="let shoe of events" [value]="shoe">
            <div class="col">
                {{shoe.name}}
            </div>
            <div>
                <button mat-raised-button color="primary" style="float:right" (click)="ViewEvent(event)">View Event
                    Details</button>
            </div>
        </mat-list-option>
    </div>
</mat-selection-list> -->

<div class="jumbotron col-sm-12 events-list">
    <table mat-table [dataSource]="events" class="mat-elevation-z8" style="width: 100%;">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="ID">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element">
                {{element.id}}</td>
        </ng-container>


        <!-- Name Column -->
        <ng-container matColumnDef="Event name">
            <th mat-header-cell *matHeaderCellDef> Event name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}}
            </td>
        </ng-container>

        <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element">
                <button mat-mini-fab color="primary" aria-label="Example icon button with a home icon" (click)="ViewEvent(element)">
                    <mat-icon>remove_red_eye</mat-icon>
                </button>
                &nbsp;
                <button mat-mini-fab color="warn" aria-label="Example icon button with a home icon">
                    <mat-icon>delete_outline</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>