<!-- <button class="btn btn-primary" style="float: right;" data-toggle="modal" data-target="#myModal">Add Event</button> -->
<button mat-button data-toggle="modal" data-target="#myModal">
  <mat-icon>queue</mat-icon>
  Add Event
</button>

<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" style="color: darkblue">Create Event</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body" style="font-size: 14px; color: black">
        <form [formGroup]="eventForm" (ngSubmit)="addEvent(eventForm.value)" autocomplete="off" >
          <!------------------->
          <mat-form-field appearance="outline">
            <mat-label>Event name</mat-label>
            <input formControlName="name" matInput placeholder="e.g Fashion Show 2k20">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
          &nbsp;
          <!------------------->
          <mat-form-field appearance="outline">
            <mat-label>Category</mat-label>
            <input formControlName="category" matInput placeholder="e.g Entertainment">
            <mat-icon matSuffix> bar_chart</mat-icon>
          </mat-form-field>
          <br>
          <!------------------->
          <mat-form-field appearance="outline">
            <mat-label>Event Speaker</mat-label>
            <input formControlName="speaker" matInput placeholder="e.g Rangie Laurente">
            <mat-icon matSuffix>accessibility_new</mat-icon>
          </mat-form-field>
          &nbsp;
          <!------------------->
          <mat-form-field appearance="outline">
            <mat-label>Event Emcee</mat-label>
            <input formControlName="emcee" matInput placeholder="e.g John Doe">
            <mat-icon matSuffix>mic_none</mat-icon>
          </mat-form-field>
          <br>
          <!------------------->
          <mat-form-field appearance="outline">
            <mat-label>Time</mat-label>
            <input formControlName="time" matInput type="time" placeholder="Input time event">
            <mat-icon matSuffix>access_time</mat-icon>
          </mat-form-field>
          &nbsp;
          <!------------------->
          <mat-form-field appearance="outline">
            <mat-label>Date</mat-label>
            <input formControlName="date" matInput type="date" placeholder="Input event date">
            <mat-icon matSuffix>date_range</mat-icon>
          </mat-form-field>
          <br>
          <!------------------->
          <mat-form-field appearance="outline">
            <mat-label>Duration</mat-label>
            <input formControlName="duration" matInput type="time" placeholder="Input event duration">
            <mat-icon matSuffix>access_time</mat-icon>
          </mat-form-field>
          <!------------------->
          &nbsp;
          <mat-form-field appearance="outline">
            <mat-label>Event URL</mat-label>
            <input formControlName="onlineUrl" matInput type="url" placeholder="Event URL">
            <mat-icon matSuffix>video_label</mat-icon>
          </mat-form-field>
          <br>
          <!------------------->
          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea formControlName="description" matInput type="text" placeholder="Event Description"></textarea>
            <mat-icon matSuffix>speaker_notes</mat-icon>
          </mat-form-field>
          <!------------------->
          <mat-divider></mat-divider>
          <br>
          <h5 style="color: darkblue">Event Address</h5>
          <br>
          <!------------------->
          <div formGroupName="venue">
            <mat-form-field appearance="outline">
              <mat-label>Event Venue</mat-label>
              <input formControlName="address" matInput type="text" placeholder="e.g Nasipit, Talamban, Cebu City">
              <mat-icon matSuffix> location_on</mat-icon>
            </mat-form-field>
            &nbsp;
            <!------------------->
            <mat-form-field appearance="outline">
              <mat-label>Building</mat-label>
              <input formControlName="building" matInput type="text" placeholder="e.g Carmelites Stage">
              <mat-icon matSuffix> location_on</mat-icon>
            </mat-form-field>
            <br>
            <!------------------->
            <mat-form-field appearance="outline">
              <mat-label>Event Room</mat-label>
              <input formControlName="room" matInput type="text" placeholder="e.g Basketball Court">
              <mat-icon matSuffix> location_on</mat-icon>
            </mat-form-field>
          </div>
          <mat-divider></mat-divider>
          <br>
          <div style="float: right">
            <button class="btn btn-primary" type="submit" [disabled]="!eventForm.valid" data-toggle="modal" data-target="#myModal">Submit</button>
            &nbsp;
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>