<button class="btn btn-primary" style="float: right;" data-toggle="modal" data-target="#myModal">Add Event</button>

  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Add Participant</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <form [formGroup]="eventForm" (ngSubmit)="addEvent(eventForm.value)" autocomplete="off" novalidate>
            <div class="form-group">
              <label for="name">Event Name</label>
              <input formControlName="name" type="text" class="form-control" placeholder="Event Name">
            </div>
            <div class="form-group">
              <label for="category">Category</label>
              <input formControlName="category" type="text" class="form-control" placeholder="Category">
            </div>
            <div class="form-group">
              <label for="speaker">Speaker</label>
              <input formControlName="speaker" type="text" class="form-control" placeholder="Speaker">
            </div>
            <div class="form-group">
              <label for="emcee">Emcee</label>
              <input formControlName="emcee" type="text" class="form-control" placeholder="Emcee">
            </div>
            <div class="form-group">
              <label for="time">Time</label>
              <input formControlName="time" type="text" class="form-control" placeholder="time">
            </div>
            <div class="form-group">
              <label for="date">date</label>
              <input formControlName="date" type="text" class="form-control" placeholder="date">
            </div>
            <div class="form-group">
              <label for="duration">duration  </label>
              <input formControlName="duration" type="text" class="form-control" placeholder="duration">
            </div>
            <div formGroupName="venue">
              <div class="form-group">
                <label for="address">address</label>
                <input formControlName="address" type="text" class="form-control" placeholder="address">
              </div>
              <div class="form-group">
                <label for="building">building</label>
                <input formControlName="building" type="text" class="form-control" placeholder="building">
              </div>
              <div class="form-group">
                <label for="room">room</label>
                <input formControlName="room" type="text" class="form-control" placeholder="room">
              </div>      
            </div>
            <div class="form-group">
              <label for="onlineUrl">onlineUrl</label>
              <input formControlName="onlineUrl" type="text" class="form-control" placeholder="onlineUrl">
            </div>
            <div class="form-group">
              <label for="description">description</label>
              <input formControlName="description" type="text" class="form-control" placeholder="description">
            </div>

            <button class="btn btn-primary" type="submit" data-toggle="modal" data-target="#myModal">Submit</button>
          </form>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
  </div>