<button class="btn btn-primary" style="float: right;" data-toggle="modal" data-target="#myModal">Add Event</button>

  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Add Participant</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <form [formGroup]="eventForm" autocomplete="off" novalidate>
            <div class="form-group">
              <label for="name">Event Name</label>
              <input formControlName="name" type="text" class="form-control" placeholder="Event Name">
            </div>
            <div class="form-group">
              <label for="category">Category</label>
              <input formControlName="category" type="text" class="form-control" placeholder="Category">
            </div>
            <div class="form-group">
              <label for="speaker">Speaker</label>
              <input formControlName="speaker" type="text" class="form-control" placeholder="Speaker">
            </div>
            <button class="btn btn-primary" type="submit" data-toggle="modal" data-target="#myModal">Submit</button>
          </form>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
  </div>