<div class="jumbotron" style="width: 450px;">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Event name: {{event?.name}}</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <br>
    <div class="col body-content">
      <mat-card-content>
        <div>
          <span><b>Category: </b>{{event?.category}}</span>
        </div>
        <div *ngIf="event.speaker">
          <span><b>Speaker: </b>{{event?.speaker}}</span>
        </div>
        <div *ngIf="event.emcee">
          <span><b>Emcee: </b>{{event?.emcee}}</span>
        </div>
        <div>
          <span><b>Time: </b>{{event?.time}}</span>
        </div>
        <div>
          <span><b>Date: </b>{{event?.date}}</span>
        </div>
        <div>
          <span><b>Description: </b>{{event?.description}}</span>
        </div>
       
      </mat-card-content>
      <mat-divider></mat-divider>
    </div>
    <button mat-button class="btn btn-primary mt-2" type="submit" (click)="sendId(event.id)">View Paricipants</button>
  </mat-card>
</div> 

